<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Techno</title>
</head>

<body>
    <div id="app">
        <section class="modal" v-if="produto">            
            <div class="modal_container">
                <div class="modal_img">
                    <img :src="produto.img" :alt="produto.nome">
                </div>
                <div class="modal_dados">
                    <div class="modal_preco">
                        <span class="modal_preco">{{produto.preco}}</span>
                        <h2 class="modal_titulo">{{produto.nome}}</h2>
                        <p class="modal_descricao">{{produto.descricao}}</p>
                        <button class="modal_btn" >Adicionar ao carrinho</button>
                    </div>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                    <ul>
                        <li v-for="avaliacao in produto.avaliacoes" class="avaliacao">                           
                            <p class="avaliacao_descricao" >{{avaliacao.descricao}}</p>
                            <p class="avaliacao_usuario" >{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>                             
                        </li>
                    </ul>
                </div>
            </div>
        </section>
      <section class="produtos">
          <div class="produto" @click="fetchProduto(item.id)" v-for="item in produtos" :key="item.id">
              <img :src="item.img" :alt="item.nome" class="produto_img">
              <div class="produto_info">
                  <span class="produto_preco">{{item.preco | numeroDinheiro}}</span>
                  <h2 class="produto_titulo">{{item.nome}}</h2>
              </div>
          </div>
      </section>
    </div>
    <!--scripts-->
    <script src="./vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>